<div>
    <div class="input-group">
        <a href="/Products/Cart"><img src="/static/image/cart.png" width="30px"></a>
        <span class="badge bg-danger" style="height:18px; border-radius:40%; ">@(Session["totalQuantity"] != null? Session["totalQuantity"] : 0)</span>
    </div>
</div>